<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinuo.web.dao.InfoMapper">
  <resultMap id="info" type="com.yinuo.web.domain.Info">
    <id column="INFO_ID" jdbcType="DECIMAL" property="userId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="INTO_TYPE" jdbcType="VARCHAR" property="infoType" />
    <result column="CRATE_TIME" jdbcType="TIMESTAMP" property="crateTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  
  <select id="findInfoWithNameAndInfoType" resultType="info" parameterType="info">
  		select t.info_id infoId,t.name name,t.content content,t.info_type infoType,
  		t.crate_time crateTime,d.valuee infoTypeName from t_info t 
  		left join t_dict d on (d.table_name = 't_info' and d.keyy = t.info_type)
  		where 1=1
  		<if test="name != null and name != ''">
        	AND t.name like concat(concat('%',#{name}),'%')
	    </if>
	    <if test="infoType != null and infoType != ''">
        	AND t.info_type = #{infoType}
	    </if>
  		order by t.info_id
  </select>
  
  
</mapper>